/* display 'coming soon!' "ribbon" above each portfolio placeholder */
.ribbon {
  position: absolute;
  bottom: 25%;
  left: 1%;
  right: 1%;
  transform: rotate(-10deg);
}

/* fade placeholder images */
.placeholder {
  opacity: 0.5;
}

img:hover {
  opacity: 0.5;
}